<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asayuu.com"
    android:versionCode="3"
    android:versionName="2.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="小欲˚ʚ₍ ᐢ. ̫ .ᐢ ₎ɞ˚"
        android:theme="@android:style/Theme.NoTitleBar"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"> 
        
        <activity android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity" android:screenOrientation="portrait" />
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".WatermarkActivity" android:screenOrientation="portrait" />
        
        <activity 
            android:name=".VideoSiteActivity" 
            android:configChanges="orientation|screenSize|keyboardHidden|layoutDirection"
            android:hardwareAccelerated="true" />

        <activity 
            android:name=".NovelSiteActivity" 
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true" />

        <activity android:name=".AppManagerActivity" android:screenOrientation="portrait" />
        <activity android:name=".SafeBoxActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        
        <activity android:name=".TextGenActivity" android:screenOrientation="portrait" />

        <service android:name=".FloatingService" android:enabled="true" android:exported="false" />

    </application>
</manifest>